<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="empidemo-deploy.ZPM">
    <Module>
      <Name>empidemo-deploy</Name>
      <Version>0.1.0</Version>
      <Description>患者主索引演示程序</Description>
      <Keywords>empidemo</Keywords>
      <Author>
        <Person>China SE</Person>
        <Organization>Intersytems China</Organization>
        <CopyrightDate>20240829</CopyrightDate>
        <License>MIT</License>
        <Notes>患者主索引演示程序</Notes>
      </Author>
      <Packaging>module</Packaging>
      <Resource Name="HIP.PKG" />
      <Resource Name="WS.PKG" />
      <Resource Name="HCC.PKG" />
      <Resource Name="Demo.PKG" />
      <Resource Name="SourceModel.PKG" />
      <Resource Name="HCCDocTemplate.GBL" />
      <Resource Name="HCC.GBL" />
      <Resource Name="PubSub.GBL" />
      <Resource Name="WS.GBL" />
      <Resource Name="Dict.GBL" />
      <Resource Name="FolderManager.PKG" Directory="analytics" />
      <FileCopy Name="Setting/HCC/" Target="${cspdir}xslt/HCC/" />
      <FileCopy Name="Libs/pycode/" Target="${mgrdir}python/" />
      <FileCopy Name="FHIRDEMO/" Target="${mgrdir}FHIRDEMO/" />
      <SystemSetting Name="CSP.DefaultFileCharset" Value="UTF-8" />
      <Invoke Class="%Studio.Project" Method="InstallFromFile" Phase="Compile" When="Before" CheckStatus="true">
        <Arg>${root}DeployedClass/HCC_Deployed_Classes.xml</Arg>
      </Invoke>
      <Invoke Class="HCC.Setting" Method="Init" Phase="Configure" When="After" CheckStatus="false">
        <Arg>1</Arg>
        <Arg>1</Arg>
        <Arg>${root}FHIRDEMO/FHIR2Guokao.json</Arg>
        <Arg>${root}FHIRDEMO/GuokaoCube.xml</Arg>
      </Invoke>
      <Invoke Class="Ens.Util.LookupTable" Method="%Import" Phase="Configure" When="After" CheckStatus="true">
        <Arg>${root}Setting/LookupTable/CodeSystemToDETable.xml</Arg>
      </Invoke>
      <Invoke Class="Ens.Util.LookupTable" Method="%Import" Phase="Configure" When="After" CheckStatus="true">
        <Arg>${root}Setting/LookupTable/DisplayNameToDETable.xml</Arg>
      </Invoke>
      <CSPApplication CookiePath="/hcc/" DefaultTimeout="900" DispatchClass="HCC.Interface.RestHandler" MatchRoles=":%All" PasswordAuthEnabled="1" Recurse="1" ServeFiles="1" ServeFilesTimeout="3600" UnauthenticatedEnabled="1" Url="/hcc" UseSessionCookie="2" />
      <CSPApplication CookiePath="/api/MDXQuery/" DefaultTimeout="900" DispatchClass="Demo.Query.MDXQuerier" MatchRoles=":%DB_%DEFAULT" PasswordAuthEnabled="1" Recurse="1" ServeFiles="1" ServeFilesTimeout="3600" UnauthenticatedEnabled="1" Url="/api/MDXQuery" UseSessionCookie="2" />
      <SourcesRoot>src</SourcesRoot>
    </Module>
  </Document>
</Export>